<div class="header center">
	<p><img src="ui/images/logo.png"></p>
</div>
<div class="content">
	<h2>Version
		<?php echo $VERSION; ?>
	</h2>
	<p>The first thing you might want to do is visualize your directory structures. Fat-Free gives you total control over your Web site. Organize your folders in any way that pleases you (or your development team if you're part of a group). Decide where you
		want to store the following:</p>
	<ul>
		<li>Application and code libraries</li>
		<li>HTML templates</li>
		<li>Graphics and media files</li>
		<li>Javascript and CSS files</li>
		<li>Database (if you plan to use an embedded DB like SQLite)</li>
		<li>Configuration files</li>
		<li>Uploads/Downloads</li>
	</ul>
	<p>For security reasons, consider relocating the <code>lib/</code> folder to a path that's not Web-accessible. If you decide to move this folder, just change the line in <code>index.php</code> containing <code>require 'lib/base.php';</code> so it points
		to the new location. The <code>lib/</code> folder also contains framework plug-ins that extend F3's capabilities. You can change the default location of all plug-ins by moving the files to your desired subdirectory. Then, it's just a matter of pointing
		the <code>PLUGINS</code> global variable to the new location. You may delete the plug-ins that you don't need. You can reinstate them later as you find necessary.</p>
	<p>F3 can autoload OOP classes for you. Just add the path to the <code>AUTOLOAD</code> variable.</p>
	<p>When you're ready to write your F3-enabled site, you can start editing the rest of the code contained in the <code>index.php</code> file that displayed this Web page. Developing PHP applications will never be the same!</p>
	<h2>PHP Dependencies</h2>
	<p>Some framework features in this version will not be available if PHP is not configured with the modules needed by your application.</p>
	<table>
		<tr>
			<th>Class/Plug-in</th>
			<th>PHP Module</th>
		</tr>
		<?php foreach ($classes as $class=>$modules): ?>
		<tr>
			<td>
				<?php echo $class; ?>
			</td>
			<td>
				<?php foreach ($modules as $module): ?>
				<input type="checkbox" <?php echo extension_loaded($module)? 'checked': ''?> onclick="return false">
				<?php echo $module; ?><br>
				<?php endforeach; ?>
			</td>
		</tr>
		<?php endforeach; ?>
	</table>
	<ul>
		<li>The <code>Base</code> class requires all listed PHP modules enabled to function properly.</li>
		<li>The <code>Cache</code> class will use any available module in the list. If none can be found, it will use the filesystem as fallback.</li>
		<li>The <code>DB\SQL</code> class requires the <code>pdo</code> module and a PDO driver relevant to your application.</li>
		<li>The <code>Bcrypt</code> class will use the <code>mcrypt</code> or <code>openssl</code> module for entropy generation. Otherwise, it employs a custom random function.</li>
		<li>The <code>Web</code> class will use the <code>curl</code> module for HTTP requests to another server. If this is not detected, it will use other transports available, such as the HTTP stream wrapper or native sockets.</li>
		<li>The <code>geoip</code> module listed in the <code>Web\Geo</code> class is optional; the class will use an alternative Web service for geo-location.</li>
		<li>Other framework classes in the list need all its listed modules enabled.</li>
	</ul>
	<h2>Need Help?</h2>
	<p>If you have any questions regarding the framework, technical support is available at <code><a href="https://groups.google.com/forum/?fromgroups#!forum/f3-framework">https://groups.google.com/forum/?fromgroups#!forum/f3-framework</a></code></p>
	<p>Need live support? You can talk to the development team and the rest of the Fat-Free community via IRC. We're on the FreeNode (<code>chat.freenode.net</code>) <code>#fatfree</code> channel. If the channel appears quiet, the development team might just
		be busy with the next great release, or it's probably due to time zone differences. Just hang around.</p>
	<p>The <strong><a href="<?php echo $BASE; ?>/userref">User Reference</a></strong> is designed to serve as a handbook and programming guide. However, the online documentation at <a href="https://github.com/bcosca/fatfree" onclick="window.open(this.href); return false;"><code>https://github.com/bcosca/fatfree</code></a>		provides the latest and most comprehensive information about the framework.</p>
	<h2>Fair Licensing</h2>
	<p><b>Fat-Free Framework is free software covered by the terms of the GNU Public License (GPL v3).</b> You may not use the software, documentation, and samples except in compliance with the license. If the terms and conditions of this license are too restrictive
		for your use, alternative licensing is available for a very reasonable fee.</p>
	<p>If you feel that this software is one great weapon to have in your programming arsenal, it saves you a lot of time and money, use it for commercial gain or in your business organization, please consider making a donation to the project. A significant
		amount of time, effort, and money has been spent on this project. Your donations help keep this project alive and the development team motivated. Donors and sponsors get priority support commensurate to your contribution (24-hour response time on business
		days).</p>
	<h2>Support F3</h2>
	<p>F3 is community-driven software. Support the development of the Fat-Free Framework. Your contributions help keep this project alive.</p>
	<p><a href="bitcoin:18cJLaAYT5mmu72GeoMgajbKFcmCZEjK12" target="_blank"><img src="ui/images/bitcoin.png"></a></p>
</div>
<div class="footer center">
	<p>Fat-Free Framework is licensed under the terms of the GPL, either v3 or later<br> Copyright &copy; 2009-2017 F3::Factory/Bong Cosca &lt;bong&#46;cosca&#64;yahoo&#46;com&gt;</p>
	<p class="stats"><code><?php echo Base::instance()->format('Page rendered in {0} msecs / Memory usage {1} Kibytes',round(1e3*(microtime(TRUE)-$TIME),2),round(memory_get_usage(TRUE)/1e3,1)); ?></code></p>
</div>